---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---
<Layout>
    <Header />
    <section class="py-5 border-bottom" id="features">
        <div class="container px-5 my-5">
            <div class="row gx-5">
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-collection"></i></div>
                    <h2 class="h4 fw-bolder">Helping our Customers WIN!</h2>
                    <p>At OD Solutions, we understand that when our clients are successful at meeting their business goals, we all win. We help our clients by partnering with them to develop and implement custom Human Resources solutions that will do the following:</p>
                    <a class="text-decoration-none" href="#!">
                        Learn more
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-building"></i></div>
                    <h2 class="h4 fw-bolder">Why OD Solutions?</h2>
                    <p>We believe that in order to win at anything, you must have a successful plan.<br/>
                    OD Solutions will work with you to create a custom-based project plan based on your current business conditions and goals.<br/>
                    Due to our extensive network of business partnerships, we can even provide employee leasing,</p>
                    <a class="text-decoration-none" href="#!">
                        Learn more
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
                <div class="col-lg-4">
                    <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-toggles2"></i></div>
                    <h2 class="h4 fw-bolder">How Do We Do This?</h2>
                    <p>We understand that trying to keep up with Federal and State Employment regulations and requirements is a full-time job.<br/>
                    Trying to keep up with changes in Unemployment Insurance, FMLA, FLSA, etc. is a FULL-TIME job.<br/>
                    In addition, keeping the best employees engaged and successful in always a challenge no matter what the</p>
                    <a class="text-decoration-none" href="#!">
                        Learn more
                        <i class="bi bi-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5">
            <div class="text-center mb-5">
                <h2 id="about-us" class="fw-bolder">About Us</h2>
                <p class="lead mb-0">OD Solutions LLC is a locally owned and operated human resources consulting practice serving Hawaii’s businesses and individuals on a project or hourly fee basis.</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6 col-xl-4">
                    <h3>WHY OD SOLUTIONS, LLC?</h3>
                    <p>We understand that trying to keep up with Federal and State Employment regulations and requirements can be FRUSTRATING.
                    Trying to keep up with changes in Unemployment Insurance, FMLA, FLSA, etc. is a FULL-TIME job. In addition, keeping the best employees engaged and successful in always a challenge no matter what the economy’s like. By choosing OD Solutions LLC as a business partner, we will keep your company in
                    compliance with these ever-changing regulations and develop solid Employee-focused programs
                    that will allow you to focus on growing your business.</p>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <h3>HELPING OUR CUSTOMERS WIN</h3>
                    <p>At OD Solutions, we understand that when our clients are successful at meeting their business goals, we all win. We help our clients by partnering with them to develop and implement custom Human Resources solutions that will do the following:
                    Increase their bottom-line return by identifying opportunities to reduce their fixed overhead costs;
                    Develop innovative, cost-effective recruitment systems that will help them identify and hire the best employees and create solid retention programs that will motivate and retain them;
                    Create solid training programs that will ensure that the client’s employees are successful in meeting their needs and their customers’; and
                    Perform employment system audits to ensure that their client’s are protected and compliant with existing Federal or State employment regulations.</p>
                </div>
                <div class="col-lg-6 col-xl-4">
                    <h3>HOW DO WE DO THIS?</h3>
                    <p>We believe that in order to win at anything, you must have a successful plan. OD Solutions will work with you to create a custom-based project plan based on your current business
                    conditions and goals. Due to our extensive network of business partnerships, we can even provide employee leasing, alternative health benefit plans or payroll outsourcing sources as
                    your needs require. We are committed in developing a long-term partnership with you so we truly understand your needs and more importantly, your business.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 id="who-we-are" class="fw-bolder">Who We Are</h2>
            </div>
            <div class="row">
                <div class="text-center col-md-12 col-lg-4">
                    <img src="inner_brad.jpeg" class="rounded" alt="Bradston Sakamoto" />
                </div>
                <div class="col-md-12 col-lg-8">
                    <p>
                        <b>Bradston Sakamoto</b> has spent his career in all facets of Human Resources management where he has held senior leadership roles in the Travel, Information Technology
                        and Construction industries as Human Resources Director.
    
                        Most recently, he was the Senior Talent Acquisition
                        Manager for Hilton Grand Vacations where he was responsible for supervising all Recruitment and Retention programs and activities for the Asia/Hawaii region.
    
                        Currently he is the Managing Consultant for OD Solutions Hawaii, a management consulting practice which provides contract human resources expertise,
                        recruitment/outplacement services and employee training
                        to Hawaii’s businesses.
    
                        He is a graduate of Iolani School and holds a B.A from the University of Oregon and a MBA from the University of Hawaii.
    
                        A long-time Hawaii resident that grew up on the
                        Windward side, Brad currently resides in Honolulu. When not working, he enjoys spending time with family and friends, playing golf, surfing and working out.
    
                        He is also an active member of the Manoa Waioli Lions Club, Young Business council and a board member
                        of Hawaii Literacy.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <h2 id="services" class="fw-bolder">Services</h2>
                <p class="lead mb-0">OD Solutions general services include:</p>
            </div>
            <div class="row gx-5 justify-content-center">
                Providing contract human resources services to small to mid-sized business without in-house HR expertise in the following areas:
                Conducting field audits to ensure that a client is legally compliant with Federal and State laws and regulations; and
                Employee Relations/Confidential Investigations;
                Compensation;
                Training and development;
                Recruitment and retention;
                Conducting field audits to ensure that a client is legally compliant with Federal and State laws and regulations; and
                Supplemental staffing, direct hire or outplacement services as requested.
            </div>
        </div>
    </section>

    <section class="py-5 border-bottom">
        <div class="container px-5 my-5">
            <h2 id="partners" class="fw-bolder">Partners</h2>
            <p>
                We have affiliated ourselves with the following companies due to their expertise in their fields that ultimately
                help our clients with growing their businesses.
            </p>
            <ul>
                <li>PSH Insurance: www.pshinsurance.com</li>
                <li>GetReal Technology Solutions</li>
                <li>ADP: www.adp.com</li>
            </ul>
        </div>
    </section>

    <section class="bg-light py-5 border-bottom">
        <div class="container px-5 my-5 px-5">
            <div class="text-center mb-5">
                <div class="feature bg-primary bg-gradient text-white rounded-3 mb-3"><i class="bi bi-envelope"></i></div>
                <h2 class="fw-bolder">Get in touch</h2>
                <p class="lead mb-0">We'd love to hear from you</p>
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-6">
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- * * SB Forms Contact Form * *-->
                    <!-- * * * * * * * * * * * * * * *-->
                    <!-- This form is pre-integrated with SB Forms.-->
                    <!-- To make this form functional, sign up at-->
                    <!-- https://startbootstrap.com/solution/contact-forms-->
                    <!-- to get an API token!-->
                    <form id="contactForm" data-sb-form-api-token="API_TOKEN">
                        <!-- Name input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" placeholder="Enter your name..." data-sb-validations="required" />
                            <label for="name">Full name</label>
                            <div class="invalid-feedback" data-sb-feedback="name:required">A name is required.</div>
                        </div>
                        <!-- Email address input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" placeholder="name@example.com" data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                            <div class="invalid-feedback" data-sb-feedback="email:required">An email is required.</div>
                            <div class="invalid-feedback" data-sb-feedback="email:email">Email is not valid.</div>
                        </div>
                        <!-- Phone number input-->
                        <div class="form-floating mb-3">
                            <input class="form-control" id="phone" type="tel" placeholder="(123) 456-7890" data-sb-validations="required" />
                            <label for="phone">Phone number</label>
                            <div class="invalid-feedback" data-sb-feedback="phone:required">A phone number is required.</div>
                        </div>
                        <!-- Message input-->
                        <div class="form-floating mb-3">
                            <textarea class="form-control" id="message" type="text" placeholder="Enter your message here..." style="height: 10rem" data-sb-validations="required"></textarea>
                            <label for="message">Message</label>
                            <div class="invalid-feedback" data-sb-feedback="message:required">A message is required.</div>
                        </div>
                        <!-- Submit success message-->
                        <!---->
                        <!-- This is what your users will see when the form-->
                        <!-- has successfully submitted-->
                        <div class="d-none" id="submitSuccessMessage">
                            <div class="text-center mb-3">
                                <div class="fw-bolder">Form submission successful!</div>
                                To activate this form, sign up at
                                <br />
                                <a href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
                            </div>
                        </div>
                        <!-- Submit error message-->
                        <!---->
                        <!-- This is what your users will see when there is-->
                        <!-- an error submitting the form-->
                        <div class="d-none" id="submitErrorMessage"><div class="text-center text-danger mb-3">Error sending message!</div></div>
                        <!-- Submit Button-->
                        <div class="d-grid"><button class="btn btn-primary btn-lg disabled" id="submitButton" type="submit">Submit</button></div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</Layout>
