---
import Layout from "../layouts/Layout.astro";
---
<Layout>
    <h2>Resources</h2>
    <ul>
        <li>I-9 Form</li>
        <li>HC-5 Form</li>
        <li>W-4 Form</li>
        <li>Frequently Asked Questions on the Hawaii Family Leave Law</li>
        <li>Highlights of Hawaii Worker’s Compensation Law</li>
        <li>Highlights of Temporary Disability Insurance Law</li>
        <li>Highlights of Hawaii Prepaid Healthcare Law</li>
        <li>U.S Department of Labor Guide to COBRA Benefits</li>
        <li>U.S. Department of Labor Guide to HIPAA</li>
    </ul>
</Layout>
