---
const { url } = Astro.request;
const { pathname } = new URL(url);
const currentPath = pathname.slice(1);
const getNavItemClass = (path) => (path === currentPath ? 'nav-link active' : 'nav-link');
---
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="/">
            <img src="logo.jpeg" />
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class={getNavItemClass('')} aria-current="page" href="/">Home</a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="/#who-we-are">Who We Are</a></li>
                        <li><a class="dropdown-item" href="/#services">Services</a></li>
                        <li><a class="dropdown-item" href="/#partners">Partners</a></li>
                    </ul>
                </li>
                <li class="nav-item"><a class={getNavItemClass('resources')} href="/resources">Resources</a></li>
                <li class="nav-item"><a class={getNavItemClass('jobs')} href="/jobs">Jobs</a></li>
                <li class="nav-item"><a class={getNavItemClass('contact')} href="/contact">Contact</a></li>
            </ul>
            <ul class="list-inline mb-0">
                <li class="list-inline-item me-4">
                    <a href="https://www.facebook.com/OD-Solutions-230704306989257"><i class="bi-facebook fs-4 text-light ms-4"></i></a>
                </li>
                <li class="list-inline-item me-4">
                    <a href="https://www.linkedin.com/company/od-solutions-hawaii/"><i class="bi-linkedin fs-4 text-light"></i></a>
                </li>
                <li class="list-inline-item">
                    <a href="https://www.instagram.com/odsolutionsllc/"><i class="bi-instagram fs-4 text-light"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>